<div class="headerDiv text-center">
    <img id="leftFrame" src="../public/assets/images/Frame.png" alt="headerLeftFrame">
    <h1>Burger Chalet</h1>
    <img id="rightFrame" src="../public/assets/images/Frame.png" alt="headRightLeftFrame">
</div>


<div id="container1" class="container">

    <div class="row">

        <div class="colMainPic col-12 col-md-6 col-lg-6 justify-content-center">

            {{!-- <div class="questionContainer">
                <h3><strong>1) </strong></h3>
                <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>
                <br>
                <br>
                <div class="selectDropDown">
                    <select class="chosen-select" id="q1">
                        <option value=""></option>
                        <option value="1">1 (Yes)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (No)</option>
                    </select>
                </div>
            </div> --}}

            <img id="mainPic" src="../public/assets/images/MainPIc.jpg" alt="MainPic">

        </div>

        <div class="colMenu col-12 col-md-6 col-lg-6">

            <img id="orderBoard" class="board" src="../public/assets/images/blackboard1.jpg" alt="OrderBoard">
            <img id="checkOutBoard" class="board" src="../public/assets/images/blackboard.jpg" alt="CheckOutBoard">

        </div>

    </div>

    <br>

</div>

<div id="container3" class="container text-center">
    <!-- Submit Button -->
    <button type="submit" class="btn btn-lg" id="submit">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <b>Submit</b>
    </button>

</div>



<footer class="headerDiv ">
    <div class="links text-center">
        <p>
            <a href="https://github.com/ELVANRODRIGUEZ/BURGER">GitHub Repo</a>
        </p>
    </div>
</footer>


<!-- Modals -->
<div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" id="soul-mate"></h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h4 id="your-name"></h4>
                        <img id="your-img" src="" alt="">
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h4 id="match-name"></h4>
                        <img id="match-img" src="" alt="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>

<div id="warning-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Upsss!!!</h2>
            </div>
            <div class="modal-body">
                <h4>Please fill out all fields before submitting.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>