/* ====================================== GENERAL */

body,
html {

    width: 100%;
}

body {
    padding: 0px 30px;
}

h1 {
    margin: 0;
    padding: 40px 0;
}

h3,
h4 {
    display: inline;
}

h4 {
    line-height: 20pt;
}


/* ====================================== HEADER */

.headerDiv {
    margin: 60px 0px;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}

#leftFrame {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
}

#rightFrame {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    transform: rotate(180deg);
}




/* ====================================== CONTAINERS */

.container {
    /* margin: 30px auto; */
    width: 100%;
}

/* .questionContainer {
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto;
    width: calc(100% - 30px);
    height: 180px;
    position: relative;
} */

#mainPic {
    width: 100%;
}

.colMainPic {
    padding: 0;
}

.colMenu {
    padding: 0;
}

.board {
    width: 100%;
    /* transform: rotate(90deg); */
}

.chosen-select {
    width: 180px;
    border-radius: 3px;
    border: solid 1px rgb(151, 151, 151);
}



#submit {
    width: 50%;
    height: 75px;
    background-color: black;
    color: white;
}

/* ====================================== LINKS */

p {
    margin: 0px auto;
    display: inline-block;

}

.links {
    padding: 40px 0;
    margin: 0px auto;
    color: white;
}

a {
    font-size: 14pt;

}


/* ====================================== MODAL */

#match-img,
#your-img {
    width: 100%;
}