/* ====================================== GENERAL */

body,
html {

    width: 100%;
}

body {
    padding: 0px 30px;
}

h1 {
    margin: 0;
    padding: 40px 0;
    font-family: Papyrus, fantasy;
    font-weight: bolder;

}

h3,
h4 {
    display: inline;
}

h4 {
    line-height: 20pt;
}

a {
    font-family: Papyrus, fantasy;
    font-weight: bolder;
}


/* ====================================== HEADER */

.headerDiv {
    margin: 60px 0px;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}

#leftFrame {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
}

#rightFrame {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    transform: rotate(180deg);
}


/* ====================================== CONTAINERS */

.container {
    /* margin: 30px auto; */
    width: 100%;
    /* padding: 0px; */
}

#mainPic {
    width: 100%;
}

.colMainPic {
    padding: 0;
}


/* ====================================== ORDER BLACKBOARD */

.colMenu {
    padding: 0;
}

#orderBoardCont,
#checkOutBoardCont {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.board {
    width: 100%;
}

#burgerInput {
    position: absolute;
    top: 14%;
    left: 5%;
    width: 90%;
    height: 30px;
    background-color: black;
}

#burgerInpArea {
    width: 59%;
    background-color: rgb(26, 26, 26);
    border: 0;
    border-bottom: 2px;
    font-family: Papyrus, fantasy;
    color: white;
    font-size: 16pt;
    line-height: 18pt;
    padding: 0;
    padding-left: 8px;
    text-decoration: underline;
    overflow: auto;
}

@media only screen and (max-width: 991px) {
    #burgerInpArea {
        font-size: 18pt;
        line-height: 20pt;
    }
}

#add {
    margin-left: 4px;
}

#add:hover {
    color: rgb(251, 255, 0);
    cursor: pointer;
}

#burgerOrder {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: 51%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

.fa-hamburger {
    color: white;
    padding-left: 25px;
}

.burgerCreated,
.buyNot {
    color: white;
    padding-left: 10px;
    font-size: 16pt;
    line-height: 18pt;
    font-family: Papyrus, fantasy;
}

@media only screen and (max-width: 991px) {

    .burgerCreated,
    .buyNot {
        font-size: 20pt;
        line-height: 22pt;
    }
}

.burgerCreated:hover {
    color: rgb(251, 255, 0);
    cursor: pointer;
}

/* ====================================== CHECKOUT BLACKBOARD */

.buyNot:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#burgerCheckout {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 84%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

.boardHeader {
    color: white;
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    font-size: 14pt;
    line-height: 16pt;
}

@media only screen and (max-width: 1124px) {
    .boardHeader {
        font-size: 12pt;
        line-height: 14pt;
    }
}

@media only screen and (max-width: 991px) {
    .boardHeader {
        font-size: 20pt;
        line-height: 22pt;
    }
}

.chosen-select {
    width: 180px;
    border-radius: 3px;
    border: solid 1px rgb(151, 151, 151);
}


/* ====================================== LINKS */

p {
    margin: 0px auto;
    display: inline-block;

}

.links {
    padding: 40px 0;
    margin: 0px auto;
    color: white;
}

a {
    font-size: 14pt;

}


/* ====================================== MODAL */

#match-img,
#your-img {
    width: 100%;
}